<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>org-dash</title>

  <!--    Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/styles.css" />
  <!--    Bootstrap CSS -->
</head>

<body>
  <!--Navbar Start-->
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img height="50" src="../static/assets/downtime.png" alt="downtime logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- nav item list -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#about">About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#join"
                >Join</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#upcoming-events"
                >UpcomingEvents</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="#available-items"
                >AvailableItems</a
              >
            </li>
          </ul>
          <!-- End nav item list -->

          <!--          Search form -->
          <!-- <form role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form> -->
          <!--          End search form -->

          <div class="d-flex auth-btns">
            <button type="button" class="btn btn-outline-primary">Login</button>
            <button type="button" class="btn btn-primary">Signup</button>
          </div>
        </div>
      </div>
    </nav>
    <!--Navbar END-->

    
    <!--Modal begin-->
    <div id="exampleModalCenter" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: block; padding-right: 17px;">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div style="margin-bottom: 5%">
                <h2>Helping clean up Florida Beaches</h2>
                <div class="row">
                  <img
                    class="col-3"
                    style="width: 70px"
                    src="../static/assets/face.jpg"
                  />
                  <h4 class="col-3">Hossted by Ari</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <img
                    style="width: 500px"
                    src="../static/assets/pexels-maria-isabella-bernotti-1049298.jpg"
                  />
                </div>
                <div class="col-6">
                  Florida beaches get very messy during summer break, so we are going
                  to help clean them up. For this event, we will be needing a group of
                  volunteers to clean up the Biscayne beach to help our local
                  community out!
                </div>
              </div>
        
              <div class="row" style="margin-top: 5%">
                <h4>Event times</h4>
                <h6>Sat, Sept 28 9:00 - 1:00pm EST. <br />Orlando, FL. UCF Campus</h6>
              </div>          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!--modal end-->

    <!--    Boostatrap JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--End Bootstrap JS-->
  </body>
</html>